* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(229, 248, 199);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 24px 0;
  background-color: white;
}

.each-nav {
  margin-right: 24px;
}

.header-nav a.active {
  color: rgb(64, 206, 64);
}

.nav-link {
  color: black;
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
}
